.form {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 3vw, 32px);

  input {
    border: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(12px, 1vw,20px);
    line-height: 117%;
    
    background-color: transparent;
    border-bottom: 1px solid #a2a2a2;
    width: 100%;
    padding-bottom: clamp(15px, 2vw, 22px);
    outline: none;
    transition: .3s ease;
    &:focus {
      border-color: rgb(0, 153, 33);
    }
  }

  &__policy {
    display: grid;
    grid-template-columns: 32px 650px;
    gap: 20px;
    align-items: center;
    @media(max-width: 768px) {
      grid-template-columns: 32px 1fr;
      gap: 12px;
    }
    input {
      width: 32px;
      height: 32px;
      accent-color: var(--accent);
    }

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(12px, 2vw, 20px);
      line-height: 117%;
      color: var(--dark);
      @media(max-width: 640px) {
        max-width: 300px;
      }
      a {
        text-decoration: underline;
        color: var(--dark);
        transition: color .3s ease;
        @include hover {
          &:hover {
            color: var(--accent);
          }
        }
      }
    }
  }
}

.form input::placeholder {
  color: #c6c6c6;
}