.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var;
  backdrop-filter: blur(18px);
  background: rgba(43, 43, 43, 0.5);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
  &--active {
    opacity: 1;
    visibility: visible;
  }
  &__left {
    @media(max-width: 992px) {
      display: none;
    }
  }
  &__container {
    background-color: var(--white);
    position: relative;
    max-width: 1220px;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
   
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    svg {
      pointer-events: none;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media(max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }

  &__right {
    padding: clamp(16px, 2vw, 32px);

  }

  &__title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(20px, 2vw, 32px);
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #010101;
    margin-bottom: clamp(16px, 2vw, 32px);
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(12px, 1vw, 20px);
    line-height: 120%;
    color: #000;
    margin-bottom: clamp(32px, 4vw, 56px);
    @media(max-width: 640px) {
      max-width: 200px;
    }
  }

  &__img {
    height: 100%;
    img {
      height: 100%;
    }
  }

  &__form {
    input {
      padding-bottom: 32px;
    }
  }
}