<section class="collab" id="collab">
  <div class="container">

    <div class="section__head">
      <div class="section__subtitle" data-aos="fade-up">Наши Услуги</div>
      <h2 class="title__section collab__title" data-aos="fade-up">Комплексное <span>сопровождение</span> <br/> вашего <span>бизнеса с Китаем</span></h2>
    </div>


    <div class="collab__items">
      <div class="collab__item" data-aos="fade-up" data-aos-delay="100">
        <div class="collab__item-img">
          <img src="../img/services/1.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="200">
        <div class="collab__item-img">
          <img src="../img/services/2.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Производство</h3>
        <div class="collab__item-desc">Разместим заказ на фабрике по Вашему ТЗ, проверим предпроизводственные и партийные образцы.</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="300">
        <div class="collab__item-img">
          <img src="../img/services/3.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Контроль качества</h3>
        <div class="collab__item-desc">Направим нашего профессионального проверяющего на фабрику для проверки готовой партии товара.</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="400">
        <div class="collab__item-img">
          <img src="../img/services/4.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Экспорт товаров</h3>
        <div class="collab__item-desc">Если у вашего поставщика нет экспортной лицензии, проведем сделку внутри Китая и оформим экспорт через нашу компанию.</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="500">
        <div class="collab__item-img">
          <img src="../img/services/5.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Поиск поставщиков и товаров</h3>
        <div class="collab__item-desc">Найдём поставщиков и товары в Китае, проведём сравнительный анализ и предложим лучшие варианты по цене и качеству.</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="600">
        <div class="collab__item-img">
          <img src="../img/services/6.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Выкуп с 1688, Taobao, Poizon и др</h3>
        <div class="collab__item-desc">Выкупим товары с китайских маркетплейсов, сконсолидируем на складе, проведём проверку и доставим в Россию.</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="700">
        <div class="collab__item-img">
          <img src="../img/services/7.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Проверка производителя в Китае</h3>
        <div class="collab__item-desc">Убедимся в надёжности поставщика, проверив его регистрацию в реестре китайских экспортёров, уставные документы и номенклатуру товаров</div>
      </div>
      <div class="collab__item" data-aos="fade-up" data-aos-delay="800">
        <div class="collab__item-img">
          <img src="../img/services/8.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Таможня, сертификация товаров</h3>
        <div class="collab__item-desc">Если у вашего поставщика нет экспортной лицензии, проведем сделку внутри Китая и оформим экспорт через нашу компанию.</div>
      </div>
    </div>

  </div>
</section>