<section class="collab">
  <div class="container">

    <div class="section__head">
      <div class="section__subtitle">Наши Услуги</div>
      <h2 class="title__section collab__title">Комплексное <span>сопровождение</span> <br/> вашего <span>бизнеса с Китаем</span></h2>
    </div>


    <div class="collab__items">
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
      <div class="collab__item">
        <div class="collab__item-img">
          <img src="../img/collab-img.webp" alt="Название коллабы">
        </div>
        <h3 class="collab__item-title">Отправка образцов</h3>
        <div class="collab__item-desc">Закажем и быстро доставим образцы для сравнения качества товара от разных фабрик или проведём сравнение и отправим отчёт</div>
      </div>
    </div>

  </div>
</section>