<section class="contacts">

 <div class="container">

  <div class="section__head">
    <div class="section__subtitle">Связь с нами</div>
  </div>

  <div class="contacts__inner">

    <div class="contacts__left">

      <div class="contacts__block">
        <div class="small">Почта</div>
        <a href="mailto:ekaterina.credo@yandex.ru" class="text link">ekaterina.credo@yandex.ru</a>
      </div>

      <div class="contacts__block">
        <div class="small">Телефон</div>
        <a href="tel:+8613825007632" class="text link">+ 86 138 2500 7632</a>
        <a href="tel:+79294035262" class="text link">+ 79294035262</a>
      </div>

      <div class="contacts__block">
        <div class="small">Офис в Гуанчжоу</div>
        <div class="text">广东省佛山市南海区里水镇草场海南州工业园78号</div>
        <div class="text">
          No. 78, Hainanzhou Industrial Park, Caochang, Lishui Town, Nanhai District, Foshan City,
          Guangdong Province
        </div>
      </div>

      <div class="contacts__block">
        <div class="small">Режим работы <strong>г. Хабаровск</strong></div>
        <div class="text underline">9:00-18:00</div>
      </div>

      <div class="contacts__block">
        <div class="small">Социальные сети</div>
        <a href="" target="_blank" rel="nofollow" class="text link social">Telegram</a>
        <a href="" target="_blank" rel="nofollow" class="text link social">Whatsapp</a>
      </div>


    </div>
    <div class="contacts__right">

      <form class="form contacts__form" action="">
        <div class="form__row">
          <input type="text" placeholder="Ваше имя*">
        </div>
        
        <div class="form__row">
          <input type="text" placeholder="+_ ___ ___ __ __">
        </div>

        <div class="form__row">
          <input type="text" placeholder="Email*">
        </div>

        <div class="form__row">
          <input type="text" placeholder="Комментарии">
        </div>

        <div class="form__bottom">
          <div class="form__policy">
            <input type="checkbox">

            <span>Ознакомлен(а) с <a href="">Политикой конфиденциальности</a> и согласен(а) с обработкой персональных данных</span>

          </div>
        </div>

        <button type="submit" class="btn-reset btn form__btn">Оставить заявку</button>

      </form>

    </div>


  </div>

 </div>




</section>