<section class="cooperation" id="coop">
  <div class="container">

    <div class="section__head">
      <div class="section__subtitle" data-aos="fade-up">сотрудничество</div>
      <h2 class="title__section cooperation__title" data-aos="fade-up">мы предлагаем <span>прозрачное</span> <br/> и <span>структурированное</span> взаимодействие</h2>
    </div>

    <div class="cooperation__items">
      <div class="cooperation__row">
        <div class="cooperation__item" data-aos="fade-up" data-aos-delay="100">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>

        <div class="cooperation__item" data-aos="fade-up" data-aos-delay="200">
          <div class="cooperation__item-number">
            02/
          </div>
  
          <div class="cooperation__item-title">Условия и детали</div>
          <div class="cooperation__item-desc">Мы предоставим все необходимые рекомендации для обеспечения безопасной и своевременной доставки ваших товаров.</div>
  
        </div>
      </div>
      <div class="cooperation__row">
        <div class="cooperation__item" data-aos="fade-up" data-aos-delay="300">
          <div class="cooperation__item-number">
            03/
          </div>
  
          <div class="cooperation__item-title">Коммерческое предложение</div>
          <div class="cooperation__item-desc">Выкупка товаров из Китая включает проверку качества, чтобы гарантировать соответствие характеристикам. Мы контролируем каждый этап — от производства до упаковки и доставки.</div>
  
        </div>

        <div class="cooperation__item" data-aos="fade-up" data-aos-delay="400">
          <div class="cooperation__item-number">
            04/
          </div>
  
          <div class="cooperation__item-title">Заключение договора и оплата</div>
          <div class="cooperation__item-desc">Документация для доставки из Китая в Россию включает контракт, инвойс и таможенные декларации. Подписание договора обеспечивает юридическую защиту сторон и чёткие условия сотрудничества.</div>
  
        </div>
      </div>
      <div class="cooperation__row">
        <div class="cooperation__item" data-aos="fade-up" data-aos-delay="500">
          <div class="cooperation__item-number">
            05/
          </div>
  
          <div class="cooperation__item-title">Оказываем услугу или закупаем товар</div>
          <div class="cooperation__item-desc">Таможенное оформление товаров из Китая в Россию требует подготовки соответствующих документов и уплаты пошлин.</div>
  
        </div>

        <div class="cooperation__item" data-aos="fade-up" data-aos-delay="600">
          <div class="cooperation__item-number">
            06/
          </div>
  
          <div class="cooperation__item-title">Отправка <br/> товара</div>
          <div class="cooperation__item-desc">Наша команда обеспечивает полный цикл логистики, начиная от упаковки и маркировки товаров до их доставки в конечный пункт назначения.
          </div>
  
        </div>
      </div>
    </div>


  </div>
</section>