<section class="cooperation">
  <div class="container">

    <div class="section__head">
      <div class="section__subtitle">сотрудничество</div>
      <h2 class="title__section cooperation__title">мы предлагаем <span>прозрачное</span> <br/> и <span>структурированное</span> взаимодействие</h2>
    </div>

    <div class="cooperation__items">
      <div class="cooperation__row">
        <div class="cooperation__item">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>

        <div class="cooperation__item">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>
      </div>
      <div class="cooperation__row">
        <div class="cooperation__item">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>

        <div class="cooperation__item">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>
      </div>
      <div class="cooperation__row">
        <div class="cooperation__item">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>

        <div class="cooperation__item">
          <div class="cooperation__item-number">
            01/
          </div>
  
          <div class="cooperation__item-title">Отправка заявки</div>
          <div class="cooperation__item-desc">Расчет доставки из Китая в Россию включает выбор транспортного способа. Учитываются стоимость груза, упаковка, налоги и пошлины, а также сроки доставки.</div>
  
        </div>
      </div>
    </div>


  </div>
</section>