<section class="delivery section--black" id="delivery">
  <div class="container">
    <!--  sec head   -->
    <div class="section__head">
      <div class="section__subtitle" data-aos="fade-up">Доставка</div>
      <h2 class="title__section delivery__title" data-aos="fade-up">Доставляем <span>любые грузы</span> <br/> <span>разными видами</span> транспорта</h2>
    </div>

   <!-- sec head end  -->

    <div class="delivery__items">
      <div class="delivery__item" data-aos="fade-up" data-aos-delay="100">
        <div class="delivery__item-img">
          <img src="../img/delivery-img.webp" alt="Карго">
        </div>
        <h3 class="delivery__item-title">Карго</h3>
        <p class="delivery__item-desc">Хорошо подходит для начинающих бизнесменов или для тех, кто экономят на перевозке. Товары все разные, какие то категории выгоднее карго, какие то в белую.</p>

      </div>
      <div class="delivery__item" data-aos="fade-up" data-aos-delay="200">
        <div class="delivery__item-img">
          <img src="../img/delivery-img2.webp" alt="Карго">
        </div>
        <h3 class="delivery__item-title">прямой контракт</h3>
        <p class="delivery__item-desc">Официальный ввоз товара в Россию, без серых таможенных деклараций и сертификатов, с уплатой НДС и пошлины на таможне.</p>

      </div>
    </div>

  </div>
</section>
