<section class="faq" id="faq">
  <div class="container">
    <!--  sec head   -->
    <div class="section__head">
      <div class="section__subtitle" data-aos="fade-up">FAQ</div>
      <h2 class="title__section faq__title" data-aos="fade-up">отвечаем на ваши <br/> <span>самые частые</span> вопросы </h2>
    </div>
    <!-- sec head end  -->

    <div class="faq__items">
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
      <div class="faq__item">
        <div class="faq__item-header">
          <div class="faq__item-title">С какого сайта выкупаете товар?</div>
          <div class="faq__item-toggler">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path class="v-line" d="M12 4L12 20" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M20 12L4 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </div>

        <div class="faq__item-bottom">
          <div class="faq__item-content">
            По прибытии груза вам придёт СМС — уведомление на телефон. Также, ваш постоянный менеджер в чате сообщит вам о прибытии.
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
