<div class="modal" id="modal">
  <div class="modal__container">
    <div class="modal__close">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 6L6 18" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M6 6L18 18" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <div class="modal__content">
      <div class="modal__left">
        <div class="modal__img">
          <img src="../img/modal-img.webp" alt="">
        </div>
      </div>

      <div class="modal__right">
        <div class="modal__title">Оставьте заявку</div>
        <div class="modal__text">Свяжитесь с нами и подберем оптимальный вариант работы для вашего бизнеса</div>

        <div class="modal__form">
          <form class="form modal__form" action="">
            <div class="form__row">
              <input type="text" placeholder="Ваше имя*">
            </div>
            
            <div class="form__row">
              <input type="text" placeholder="+_ ___ ___ __ __" class="tel">
            </div>
    
            <div class="form__row">
              <input type="text" placeholder="Email*">
            </div>
    
            <div class="form__row">
              <input type="text" placeholder="Комментарии">
            </div>
    
            <div class="form__bottom">
              <div class="form__policy">
                <input type="checkbox">
    
                <span>Ознакомлен(а) с <a href="">Политикой конфиденциальности</a> и согласен(а) с обработкой персональных данных</span>
    
              </div>
            </div>
    
            <button type="submit" class="btn-reset btn form__btn">Оставить заявку</button>
    
          </form>
        </div>

      </div>

    </div>
  </div>
</div>