<section class="quality" id="about">
  <div class="container">

    <div class="section__head">
      <div class="section__subtitle" data-aos="fade-up">О компании</div>
      <h2 class="title__section quality__title" data-aos="fade-up">china business solution <span>16 лет</span> <br/> предоставляем <span>качественный сервис</span></h2>
    </div>

    <div class="quality__info">

      <div class="quality__info-block">
        <p class="quality__text" data-aos="fade-left">
          История развития CHINA BUSINESS SOLUTIONS берет начало в 2007 году с первого визита в Китай в качестве студентов китайского языка. Этот опыт стал основой для дальнейшего роста: в 2011 году мы переехали в Китай для углубленного изучения языка и культуры, а к 2015 году начали успешное сотрудничество с российским брендом Alezzy Liriq в Гонконге и южном Китае, что привело к открытию офлайн-магазина и организации важных бизнес-делегаций. Значительным этапом стало открытие офиса и складов в Гуанчжоу (2018), Иу и Суйфэньхэ (2020), что позволило расширить штат и укрепить позиции компании на рынке.
        </p>
  
        <p class="quality__text" data-aos="fade-left">
          В настоящее время CHINA BUSINESS SOLUTIONS продолжает укреплять партнерские отношения с китайскими производителями. Наша команда профессионалов со знанием китайского языка и глубоким пониманием местного рынка помогает клиентам успешно развивать бизнес с Китаем.
        </p>
      </div>

    </div>

    <div class="quality__wrapper">

      <div class="quality__right">
        
        <div class="quality__block">
          <div class="quality__block-title" data-aos="fade-up">Наша миссия -</div>
          <div class="quality__block-desc" data-aos="fade-up">Делать Китай для Вас ближе и понятнее </div>
        </div>

        <div class="quality__block">
          <div class="quality__block-title" data-aos="fade-up">Наша цель -</div>
          <div class="quality__block-desc" data-aos="fade-up">Устранение головной боли клиентов в вопросах организации закупок и доставки товаров из Китая, а также поиск наиболее выгодных решений для их бизнеса</div>
        </div>

      </div>
  
      <div class="quality__left">
        
       

        <div class="quality__items">

          <div class="quality__item" data-aos="fade-right" data-aos-delay="100">
            <div class="quality__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="quality__item-title">Профессиональная команда</div>
            <div class="quality__item-text">Большая часть наших сотрудников трудятся в компании более 5 лет и обладают обширными знаниями в области работы с Китаем.</div>
          </div>

          
          <div class="quality__item" data-aos="fade-right" data-aos-delay="200">
            <div class="quality__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="quality__item-title">Персональный менеджер</div>
            <div class="quality__item-text">К каждому клиенту приклепляется свой персональный менеджер, который всегда в курсе ваших поставок, пожеланий и требований.</div>
          </div>

          
          <div class="quality__item" data-aos="fade-right" data-aos-delay="300">
            <div class="quality__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="quality__item-title">100% гарантия сохранности груза</div>
            <div class="quality__item-text">Наша команда профессионалов тщательно контролирует каждый этап доставки, минимизируя риски повреждений и потерь.</div>
          </div>

          
          <div class="quality__item" data-aos="fade-right" data-aos-delay="400">
            <div class="quality__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="quality__item-title">Индивидуальный подход</div>
            <div class="quality__item-text">Мы анализируем потребности, разрабатываем оптимальное решение, учитывая все детали — от типа товара до сроков доставки.</div>
          </div>


        </div>
  
      </div>


    </div>

  </div>
</section>