<section class="solutions" id="solutions">
  <div class="container">

    <div class="section__head">
      <div class="section__subtitle" data-aos="fade-up">Преимущества</div>
      <h2 class="title__section collab__title" data-aos="fade-up"><span>Гибкие решения</span> для вашего <span>бизнеса</span></h2>
    </div>

    <div class="solutions__inner">
      <div class="solutions__left">
        <div class="solutions__visually">
          <video src="../img/5039336_Industry_Industrial_1920x1080.mp4" autoplay></video>
        </div>
      </div>

      <div class="solutions__right">
        <div class="solutions__items">
          <div class="solutions__item" data-aos="fade-left" data-aos-delay="100">

            <div class="solutions__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="solutions__item-content">
              <h3 class="solutions__item-title">Работа с физическими и юридическими лицами</h3>
              <p class="solutions__item-desc">Отправляем как мелкие грузы (от 10 кг), так и контейнерные грузы, обеспечивая надежную и быструю доставку.</p>
            </div>

          </div>

          <div class="solutions__item" data-aos="fade-left" data-aos-delay="200">

            <div class="solutions__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="solutions__item-content">
              <h3 class="solutions__item-title">Организация сделки под ключ</h3>
              <p class="solutions__item-desc">Мы закроем все вопросы, связанные с заказом товаров: от поиска и оплаты до таможенного оформления и доставки в ваш город.</p>
            </div>

          </div>

          <div class="solutions__item" data-aos="fade-left" data-aos-delay="300">

            <div class="solutions__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="solutions__item-content">
              <h3 class="solutions__item-title">Отсрочка платежа за логистику при отправке КАРГО</h3>
              <p class="solutions__item-desc">Отсрочка платежа за логистику КАРГО: гибкие условия помогут оптимизировать финансы и сосредоточиться на развитии бизнеса без предоплаты.</p>
            </div>

          </div>

          <div class="solutions__item" data-aos="fade-left" data-aos-delay="400">

            <div class="solutions__item-icon">
              <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 9L5 12L14 1" stroke="white" />
              </svg>
            </div>

            <div class="solutions__item-content">
              <h3 class="solutions__item-title">Бесплатное хранение</h3>
              <p class="solutions__item-desc">Нашим клиентам мы предоставляем сервис по бесплатному хранению груза на нашем складе в Гуанчжоу.</p>
            </div>

          </div>
        </div>
      </div>


    </div>



  </div>
</section>
